  <a href="./#/regComp">Register New Company</a><br>
  <input type="text" ng-model="nameFilter" placeholder="Search..."/>
  <table>
    <thead>
      <tr><th colspan="4">Registered Companies</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="company in companies | filter: searchFilter">
        <td>{{$index + 1}}</td>
        <td>
          {{company}}
        </td>
		<td>
          <button ng-click="delete('{{company.name}}')">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>